h1{
    color-rendering: green; font-size: 25pt;
}
h2{
    color: blueviolet; font-size: 25pt;
}
h3{
    font-size: 25pt;
    font-style: italic;
}

#loginBox{
    background-color: aqua;
    font-style: oblique;
}

a{
    text-underline: none;
}